.cms {
  background: $white;
  padding: 30px 32px;
  border-radius: 15px;
  h3 {
    font-size: 16px;
    color: #242531;
    margin: 16px 0px;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: rgba(#242531, 0.7);

  }
}